<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/libs/jAlert/jAlert-v4.css">
    <script src="../public/libs/jquery/dist/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/libs/jAlert/jAlert-v4.min.js"></script>
    <script src="../public/libs/jAlert/jAlert-functions.min.js"></script>
    <script src="../public/js/utils/alertMessage.js"></script>
    <script>
       $(function () {

           rep($("#text"));

           function rep(element) {
               element.addClass("adc");
               element.html("aaaaaaaaaaa")
           };
           $("#btn").click(function () {
               uxConfirm("测试")
           })
       })
    </script>
</head>
<body>
  <button id="btn">test</button>
  <p id="text">123456</p>
</body>
</html>