<!DOCTYPE html>
<html>
<head>
    <title>分布式数据采集系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../public/css/user.css">
    <link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/libs/jAlert/jAlert-v4.css">
    <link rel="stylesheet" href="../public/libs/bootstrap-table/dist/bootstrap-table.min.css">
    <script src="../public/libs/jquery/jquery.min.js"></script>
    <script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/libs/jAlert/jAlert-v4.min.js"></script>
    <script src="../public/libs/jAlert/jAlert-functions.min.js"></script>
    <script src="../public/libs/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../public/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../public/js/utils/checkcode.js"></script>
    <script src="../public/js/utils/ux_md5.js"></script>
    <script src="../public/js/utils/serverconfig.js"></script>
    <script src="../public/js/utils/alertMessage.js"></script>
    <script src="../public/js/user/user.js"></script>
    <script src="../public/js/siteManager/index_ajax.js"></script>
    <script src="../public/js/user/user_ajax.js"></script>
</head>
<body>
<div class="container-fluid content">
    <div class="row index_top">
        <div class="col-md-5 index_nav">
            <div class="col-md-2" id="logo_img"></div>
            <div class="col-md-10" style="margin-left: 3px">
                <div class="row" style="color: #60ecff;font-size: 20px">
                    <span>Discribute Database Collect System</span>
                </div>
                <div class="row">
                    <ul class="nav nav-pills ">
                        <li role="presentation" id="site_manager"><a href="#"><i class="fa fa-sitemap" style="color: #21374b;"></i><span class="nav_text"> 站点管理</span></a></li>
                        <li role="presentation" id="data_collect"><a href="#"><i class="fa fa-database" style="color: #21374b"></i><span class="nav_text"> 数据采集</span></a></li>
                        <!--<li role="presentation" ><a href="#"><i class="fa fa-calculator" style="color: #21374b"></i><span class="nav_text"> 数据管理</span></a></li>-->
                        <li role="presentation" id="user_manager"><a href="#"><i class="fa fa-user" style="color: #21374b"></i><span class="nav_text"> 用户管理</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row" style="margin-top: 8px">
                <span class="index_title">分布式数据采集系统</span>
            </div>
            <div class="row" id="location">
                所在位置:<span>用户管理</span>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 30px">
            <div class="col-md-6" id="welcome">
                <div class="row">
                    欢迎您:<span id="loginUser"></span>
                </div>
                <div class="row">
                    角&nbsp;&nbsp;&nbsp;&nbsp;色:<span id="loginRole"></span>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-2x fa-user" id="userIcon"></i>
            </div>
            <div class="col-md-3">
                <i class="fa fa-2x fa-sign-out" id="signOutIcon"></i>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="container-fluid index_middle">
            <div class="row index_middle_head" id="toolbar">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" id="create">
                    <i class="fa fa-pencil"></i>新建</button>
                    <button type="button" class="btn btn-default" id="refresh">
                        <i class="fa fa-refresh"></i>刷新</button>
                    <button type="button" class="btn btn-default" id="delete">
                        <i class="fa fa-close"></i>删除</button>
                </div>
                <div class="col-md-offset-3 col-md-3">
                    <form class="form-inline" id="search_form">
                        <input type="text" id="search_text">
                        <select id="search_condition" onselect="id">
                            <option value="id">id</option>
                            <option value="name">name</option>
                            <option value="role">role</option>
                        </select>
                        <button type="button" class="btn btn-default" id="search_btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row table_wap">
                <table id="table">

                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="userInfo">
        <div class="modal-dialog">
            <form class="form-horizontal form" style="background-color: #3b6182">
                <h3 style="text-align: center; margin-top: -8px;">用户信息</h3>
                <button type="button" class="close" data-dismiss="modal" id="close_btn"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label"><i class="fa fa-2x fa-user"></i></label>
                    <div class="col-sm-10">
                        <p class="form-control" id="username"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label"><i class="fa fa-2x fa-lock"></i></label>
                    <div class="col-sm-10">
                        <p class="form-control" id="password"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label"><i class="fa fa-2x fa-envelope"></i></label>
                    <div class="col-sm-10">
                        <p class="form-control" id="email"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="usertype" class="col-sm-2 control-label" style="font-size: 21px;"><i class="fa fa-id-card"></i></label>
                    <div class="col-sm-10">
                        <p class="form-control" id="usertype"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label"><i class="fa fa-2x fa-mobile" style="font-size: 37px"></i></label>
                    <div class="col-sm-10">
                        <p class="form-control" id="mobile"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="register_form">
        <div class="modal-dialog">
            <form class="form-horizontal form" style="background-color: #3b6182">
                <h3 style="text-align: center; margin-top: -8px;">用户注册</h3>
                <button type="button" class="close" data-dismiss="modal" id="close_btn2"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="form-group">
                    <label for="usernameReg" class="col-sm-2 control-label"><i class="fa fa-2x fa-user"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="usernameReg" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordReg" class="col-sm-2 control-label"><i class="fa fa-2x fa-lock"></i></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwordReg" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label"><i class="fa fa-2x fa-envelope"></i></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailReg" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group" id="usertype_radio">
                <label  style="font-size: 21px;margin-left: 30px"><i class="fa fa-id-card"></i></label>
                <input type="radio" value="0" style="display: inline;margin-left: 50px" name="usertype">&nbsp;管理员
                <input type="radio" value="1" style="display: inline;margin-left: 40px" name="usertype">&nbsp;普通用户
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label"><i class="fa fa-2x fa-mobile" style="font-size: 37px"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mobileReg" placeholder="手机">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="button" class="btn btn-block" id="submitReg">注册</button>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-block" id="resetReg">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="mod_form">
        <div class="modal-dialog">
            <form class="form-horizontal form" style="background-color: #3b6182">
                <h3 style="text-align: center; margin-top: -8px;">修改密码</h3>
                <button type="button" class="close" data-dismiss="modal" id="close_btn3"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="form-group">
                    <label for="passwordReg" class="col-sm-3 control-label">旧密码:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="oldpassword" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordReg" class="col-sm-3 control-label">新密码:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="newpassword" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordReg" class="col-sm-3 control-label">再次输入:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="newpassword2" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="button" class="btn btn-block" id="modify_btn">修改</button>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-block" id="cancel">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>